services:
    _defaults:
        autowire: false
        autoconfigure: false
        public: false

    andreas_a.backup_database.command.backup_database_command:
        arguments:
            $filesystem: '@filesystem'
            $handler: '@andreas_a.backup_database.handler.backup_database_handler_chain'
            $targetDirectory: ''
        class: 'AndreasA\BackupDatabaseBundle\Command\Backup\BackupDatabaseCommand'
        tags: [ 'console.command' ]

    andreas_a.backup_database.handler.mysql_backup_database_handler:
        arguments:
            $ignoredTables: [ ]
            $options: [ ]
            $platformSpecificOptions: [ ]
        class: 'AndreasA\BackupDatabaseBundle\Handler\MysqlBackupDatabaseHandler'
        tags: [ !php/const AndreasA\BackupDatabaseBundle\Handler\BackupDatabaseHandlerInterface::SERVICE_TAG ]

    andreas_a.backup_database.handler.backup_database_handler_chain:
        arguments:
            $databaseUrl: ''
        class: 'AndreasA\BackupDatabaseBundle\Handler\BackupDatabaseHandlerChain'
